[submodule "CPSC540 Class Repository"]
	path = CPSC540 Class Repository
	url = https://github.com/chelseaparlett/CPSC540ParlettPelleriti.git

[submodule "dependencies/broom.mixed"]
	path = dependencies/broom.mixed
	url = https://github.com/bbolker/broom.mixed.git

